{% extends "base.html" %}

{% block title %}Upload Secrets{% endblock %}

{% block content %}
  <main class="container">
    <h1>Upload Secrets</h1>
    <p>
      We use military-grade RSA encryption to protect your secrets.
      Download our public key <a href="{{ url_for('pk') }}">as PEM</a> or <a href="{{ url_for('pk_json') }}">as JSON</a>.
      See <a href="https://pycryptodome.readthedocs.io/en/latest/src/examples.html#encrypt-data-with-rsa">here how to encrypt data with PyCryptodome</a>.
    </p>
    <form method="post">
      <div class="mb-3">
        <label for="secrets" class="form-label">Input your RSA encrypted secret here:</label>
        <textarea class="form-control" id="secrets" name="ciphertext"></textarea>
        <div id="emailHelp" class="form-text">We'll never share your secrets with anyone else.</div>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </main>
{% endblock %}
